<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Note</title>
</head>
<body>
<h1>Create Note</h1>
<p>
    <a href="/notes">Note list</a>
</p>

<form th:action="@{/note/create}" th:object="${note}" method="post">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td>Content: </td>
            <td><input type="text" th:field="*{content}"/></td>
        </tr>
        <tr>
            <td>Note Type:</td>
            <td>
                <select th:field="*{noteType}">
                    <option th:each="p : ${noteTypes}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create note"></td>
        </tr>
    </table>
</form>
</body>
</html>