<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Note</title>
</head>
<body>
<h1>Edit note</h1>
<p>
    <a href="/notes">Note list</a>
</p>
<form th:action="@{/note/edit}" th:object="${note}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type="text" th:field="*{content}"/></td>
        </tr>
        <tr>
            <td>Note Type:</td>
            <td>
                <select th:field="*{noteType}">
                    <option th:each="p : ${noteTypes}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update note"></td>
        </tr>
    </table>
</form>
</body>
</html>